from framework.lamb.test import test

class {{ name }}(test):
    name = "{{ name }}"
    
    def run(self):
        # add your tests here using
        # self.success() or self.fail()
        # to record the result

        return self.successful