from support.lamb.Test import Test

class {{ name }}(Test):
    name = "{{ name }}"
    
    def run(self):
        # add your tests here using
        # self.success() or self.fail()
        # to record the result

        return self.successful