{{ edit_message }}
{# big big todo here - add workspaces and reafactor this terraform nonsense #}
terraform {
  backend "s3" {
    bucket = "replaybot-tfstate-prod"
    region = "eu-west-2"
    key    = "replaybot_lamb"
  }
}

provider "cloudflare" {
  email   = var.cloudflare_email
  api_key   = var.cloudflare_apikey
  account_id = var.cloudflare_account_id
}

{% if lamb.use_api %}# aws lambda json api
module "api" {
  source = "./deploy/api"
  cloudflare_zone = var.cloudflare_zone
  domain_name = var.domain_name
  api_path = var.api_path
  region = var.region
  log_retention_days = var.log_retention_days
  lambda_name = replace("lamb_${var.domain_name}", ".", "_")
  CLIENT_ID = var.CLIENT_ID
  CLIENT_SECRET = var.CLIENT_SECRET
  BOT_TOKEN = var.BOT_TOKEN
  REDIRECT_URI = var.REDIRECT_URI
  BOT_SHARED_KEY = var.BOT_SHARED_KEY
}{% endif %}

{% if lamb.use_db %}# dynamodb models
module "db" {
  source = "./deploy/db"
  region = var.region
  aws_account_id = var.aws_account_id
  domain_name = var.domain_name
  role = module.api.role
}{% endif %}

{% if lamb.use_public %}# s3 backed single page site
module "public" {
  source = "./deploy/public"
  domain_name = var.domain_name
  cloudflare_zone = var.cloudflare_zone
}{% endif %}