# [optional] your aws cli auth will be used by default
# (set the aws_profile environment var to specify)
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_DEFAULT_REGION=

# cloudflare auth for dns
export TF_VAR_cloudflare_email=
export TF_VAR_cloudflare_apikey=
export TF_VAR_cloudflare_account_id=
export TF_VAR_cloudflare_zone=
# alternate cloudflare zone id for dev domain etc
export ALT_CLOUDFLARE_ZONE=

# default discord app auth
# used in dev + preprod
export CLIENT_ID=
export CLIENT_SECRET=
export BOT_TOKEN=

# production discord app auth
export PRODUCTION_CLIENT_ID=
export PRODUCTION_CLIENT_SECRET=
export PRODUCTION_BOT_TOKEN=

# allowed ip address for preprod env
export PREPROD_ALLOWED_IP=

# key to verify requests from the discord bot to the api
export BOT_SHARED_KEY=

# authentication for elasticsearch
export ELASTICSEARCH_PASSWORD=

# secret for jwt tokens
export JWT_SECRET=

# New Relic license key
export NEW_RELIC_LICENSE_KEY=
